.main {
    margin-top: 117px;
    max-width: 610px;
    padding: 20px 24px;
    margin-left: auto;
    margin-right: auto;
}

.title {
    margin: 1rem 0;
    font-weight: 500;
    line-height: 1.15;
    font-size: 2.5rem;
}

.nav {
    background-color: white;
    padding: 15px 32px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;
    box-shadow: 0px 5px 15px hsl(0, 0%, 40%);
}

.searchbar {
    position: sticky;
    top: 117px;
    z-index: 1;
}

.searchicon {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.jobimgdiv {
    width: 120px;
    height: 120px;
}
